{% extends "base.html" %}

{% block content %}
    <div class="px-4 py-5 sm:px-6 w-full border dark:bg-gray-800 bg-white shadow mb-2 rounded-md">
        <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
            Pending Tasks
        </h3>
    </div>
    {% for task in tasks%}
    <ul class="flex flex-col">
        <li class="border-gray-400 flex flex-row mb-2">
            <div class="shadow border select-none bg-white flex flex-1 justify-around rounded-md p-4">
                <div class="font-medium whitespace-normal">
                    {{task}}
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="px-2 max-h-6 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                    pending
                </p>
            </div>
        </li>
    </ul>
    {% empty %}
    <div class="font-medium text-gray-500 text-center">
        No Pending Tasks
    </div>
    {% endfor %}
{% endblock content %}
